[general]
host = "0.0.0.0"
port = 7777
username = "admin"
password = "password"

[flygon]
api_endpoint = "http://127.0.0.1:9002"
api_secret = ""

[golbat]
api_endpoint = "http://127.0.0.1:9001"
api_secret = ""